body {
	background-image: url("ScrollTexture.jpg");
	color: rgb(40, 40, 40);
	font-weight: bold;
	-webkit-text-stroke: 0.5px rgba(0,0,0, 0.8);
}

h1{
	font-family: 'Tangerine', serif;
	font-size: 48px;
	color: white;
	text-shadow: 2px 2px black;
	-webkit-text-stroke: 0px ;	
}

#User{
	font-family: 'Tangerine', serif;
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px black;
	-webkit-text-stroke: 0px ;	
}

.CreateQuestContainer {
  max-width: 300px;
  padding: 10px;
  background-color: grey;
}

.Form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#OpenForm {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.CreateQuest {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.TaskList {
	font-family: 'Tangerine';
	font-size: 24px;
}

.CompleteQuest {
	border-style: solid;
	border-color: black;
}