body {
	background-image: url("AsphaltTexture.jpg");
	color: rgb(40, 40, 40);
	font-weight: bold;
	-webkit-text-stroke: 0.5px rgba(0,0,0, 0.8);
}

h1{
	position: fixed;
	top: 0;
	left: 50px;
}

h2{
	font-family: 'Tangerine', serif;
	font-size: 36px;
	text-decoration: underline;
	color: white;
	text-shadow: 2px 2px black;
	-webkit-text-stroke: 0px;
	position: relative;
	left: 260px;
	bottom: 20px;
}

.Title{
	font-family: 'Tangerine', serif;
	font-size: 48px;
	color: white;
	text-shadow: 2px 2px black;
	-webkit-text-stroke: 0px ;	
}

#User{
	font-family: 'Tangerine', serif;
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px black;
	-webkit-text-stroke: 0px ;	
	position: fixed;
	right: 28px;
	top: 0px;
}

#UserName{
	font-family: 'Tangerine', serif;
	font-size: 24px;
	color: white;
	text-shadow: 1px 1px black;
	-webkit-text-stroke: 0px ;	
	position: fixed;
	right: 50px;
	top: 30px;
}

#FormSpot{
	position: fixed;
	right: 30px;
	top: 30px;
}

.Experiences{
	font-size: 12px;
}

.CreateQuestContainer {
  max-width: 300px;
  padding: 10px;
  background-image: url("SaltRockTexture.jpg");
}

.Form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#OpenForm {
  background-image: url("RockTexture.jpg");
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.CreateQuest {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.TaskList {
	font-family: 'Tangerine';
	font-size: 24px;
}

#QuestList {
	position: relative;
	bottom: 50px;
}

#Scroll {
	position: fixed;
	top: 90px;
	left: 50px;
	right: 50px;
	background-image: url("ScrollTexture.jpg");
}

.Quest {
}

.CompleteQuest {
	border-style: solid;
	border-color: rgba(139, 69, 19, 1);
	background: rgba(0, 0, 0, 0);
}